{% extends 'base.html' %}
{% block header %}
<title>admin products</title>
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>اسم محصول</th>
        <th>توضیحات</th>
        <th>قیمت</th>
        <th>فعال</th>
        <th>ویرایش</th>
    </tr>
    {% for p in products %}
    <tr>
        <td>{{p.name}}</td>
        <td>{{p.description}}</td>
        <td>{{p.price}}</td>
        <td>{{"بله" if p.active==1 else "خیر"}}</td>
        <td><a href="/admin/dashboard/edit-product/{{p.id}}">ویرایش</a></td>
    </tr>
    {% endfor %}
</table>


<form action="#" method="post">
    <!-- این خط زیر برای امنیت اطلاعات ارسالی است -->
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    
    <input type="text" name="name" placeholder="نام محصول"><br>
    <textarea name="description" placeholder="توضیحات"></textarea><br>
    <input type="number" name="price" placeholder="قیمت"><br>
    <label for="">فعال:</label><input type="checkbox" value="1" name="active"><br>
    <input type="submit">
</form>
{% endblock %}